<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Sistema para el control de mantenimientos y reparaciones de medios informáticos</title>

    <script type="text/javascript" src="{{MEDIA_URL}}js/script.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery-1.4.2.min.js"></script>

    <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="{{MEDIA_URL}}css/style.ie6.css" type="text/css" media="screen" /><![endif]-->


</head>
<body>
<div class="PageBackgroundSimpleGradient1">
    </div>
    <div class="Main">
        <div class="Sheet1">
            <div class="Sheet1-tl"></div>
            <div class="Sheet1-tr"><div></div></div>
            <div class="Sheet1-bl"><div></div></div>
            <div class="Sheet1-br"><div></div></div>
            <div class="Sheet1-tc"><div></div></div>
            <div class="Sheet1-bc"><div></div></div>
            <div class="Sheet1-cl"><div></div></div>
            <div class="Sheet1-cr"><div></div></div>
            <div class="Sheet1-cc"></div>
            <div class="Sheet1-body">
                              
                <div class="contentLayout1">
                	<div style="float:left;" >
                    	<table>
                            <tr>
                                <td width="190px">
                                	<img  src="{{MEDIA_URL}}imagenes/logo_login.jpg"/>
                                </td>
                                <td rowspan="2" > 
                                		<div class="Block1"  >
                                        <div class="Block1-tl"></div>
                                        <div class="Block1-tr"><div></div></div>
                                        <div class="Block1-bl"><div></div></div>
                                        <div class="Block1-br"><div></div></div>
                                        <div class="Block1-tc"><div></div></div>
                                        <div class="Block1-bc"><div></div></div>
                                        <div class="Block1-cl"><div></div></div>
                                        <div class="Block1-cr"><div></div></div>
                                        <div class="Block1-cc"></div>
                                        <div class="Block1-body" style="background-image:url({{MEDIA_URL}}/imagenes/fondoLogin.jpg)" >
                                            <table style="margin-left:15px;"> 
                                                <tr><td></td></tr>
                                                <tr><td></td></tr>
                                                <tr >
                                                  <td rowspan="2" align="center">
                                                     <form action="." method="post">
                                                         <table class="tablaExtra">
                                                           {% for campo in formulario %}
                                                                <tr>
                                                                  <td>{{ campo.label }}</td>
                                                                  <td>{{ campo }}</td>
                                                                </tr>
                                                           {% endfor %}
                                                          </table>
                                                          <button class="Button" type="submit">
                                                              <span class="btn">
                                                              <span class="t"> Entrar </span>
                                                              <span class="r"><span></span></span>
                                                              <span class="l"></span>
                                                              </span>
                                                          </button>
                                                      </form>
                                                   </td>
                                                </tr>
                                                <tr><td></td></tr>
                                                <tr><td></td></tr>
                                           </table>             
                                        </div>
                                    </div>
                                    
                                    <div class="cleared"></div>
                                            {% if messages %}
                                            <ul class="messages">
                                                {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        {% if messages.error %}
                                        <p>{{ messages.error }}</p>
                                        {% endif %}
                                        <div style="margin-top:30px;">
                                        	<img  src="{{MEDIA_URL}}imagenes/iconos.jpg"/> 
                                        </div>
                                </td>
                            </tr>
                        	<tr>
                            	<td class="BlockContent1-body" valign="middle" >
                                	<font style="font-size:11px; font-weight:bold ">  Sistema para el control de mantenimientos y reparaciones de medios informáticos</font>
                                    <p>
                                    <ul style="font-size:11px !Important; margin-left:20px">
                                       <li>Más control </li>
                                       <li>Más organización </li>
                                       <li>Más eficiencia </li>
                                    </ul>   
                    			</td>
                            </tr>    
                   		</table>

                    </div>
                    
                </div> 	                        
             
                    <div class="cleared"></div><div class="Footer1" style="margin-top:15px">
                    <div class="Footer-inner">
                        <div class="Footer-text">
                            <p> Subdirección de Infocomunicaciones &copy; 2011<br />
                               -- Palacio de le Revolución --</p>
                        </div>
                    </div>
                    <div class="Footer-background"></div>
                </div>
            </div>
        </div>
        <div class="cleared"></div>
                 
                </div>
            </div>
        </div>
        <div class="cleared"></div>
        
    </div>
                           
</body>
</html>