{% extends "administrar/base_submenu.html" %}   

{% block css %}
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/demo.css"/>
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/ui-lightness/ui.all.css"/>
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}js/jquery/datatables/media/css/demo_table.css"/>
  
 <style> 
  .dataTables_length{
    float:left;
    margin-bottom:15px;
  }
  .dataTables_filter{
    float:right;
    margin-bottom:15px;
  }
  #lista_usuarios{
    clear:both;
    margin-bottom:10px;
    width: 100% !important;
  }
  
  #lista_usuarios a{
    color: black;
  }    
 
 </style> 
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-1.4.2.min.js"></script>
  
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-form.js"></script>
  
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/ui/ui.core.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/ui/ui.draggable.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/ui/ui.resizable.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/ui/ui.dialog.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/i18n/grid.locale-es.js"></script>
  
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/datatables/media/js/jquery.dataTables.js"></script>
  
  
  <script type="text/javascript">
    
    $(document).ready(function(){
      
          $("#select_all").click(function(){
              
              var estado_actual = this.checked;
              
              $("input[name=checkbox]").each(function(){
                this.checked = estado_actual;
              });
          });
          
          $("#dialog_eliminar_usuario").dialog({
            position: ['center','midle'],
            height: 150,
            width:400,
            modal: true,
            autoOpen: false,
            buttons:{
              "Aceptar":function(){
                jQuery("#dialog_eliminar_usuario").dialog('close');
                url = '/administrar/eliminar_usuario/'+jQuery("#id_usuario_eliminar").val();
                window.location.href = url;
              },
              "Cancelar":function(){
                jQuery("#dialog_eliminar_usuario").dialog('close');
              }
        }
      });
      
          $('#lista_usuarios tr').click( function() {
            if ( $(this).hasClass('row_selected') )
              $(this).removeClass('row_selected');
            else
              $(this).addClass('row_selected');
          } );
      
          $("#lista_usuarios").dataTable({
            "oLanguage": {"sUrl": "{{ MEDIA_URL }}js/jquery/datatables/media/language/es_ES.txt"},
            "aoColumnDefs": [ 
                { "bSearchable": false, "bSortable": false, "aTargets": [ 2 ] },
                
            ]       
    } );
      
    })   
    
    
    function EliminarUsuarios()
    {
          var aReturn = new Array();
          $("#lista_usuarios tr.row_selected").each(function(){
            
            aReturn.push( $(this).attr("id") );
          });
          datos = {"idsClientes":aReturn};
		/*
          $.post("{% url clientes_eliminar_multiples_clientes %}", datos, function(){
            window.location.reload();
          });
        */
    }
    
    function mostrar_dialog_eliminar(id_usuario)
    {
      jQuery("#id_usuario_eliminar").val(id_usuario);
      jQuery("#dialog_eliminar_usuario").dialog('open');
    }
  </script>
{% endblock %}


{% block contenido %}   
     <div>
      <h3>{{ encabezado }}</h>
     </div>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
     <div class='content'>
        <table id="lista_usuarios" class="article" width="700" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th style='text-align:center;'>Usuario</th>
              <th style='text-align:center;'>Nombre completo</th>
              <th colspan="2">Acciones</th>
            </tr>
          </thead>
          <tbody>
         {%for usuario in listado%}
            <tr id="{{ usuario.username }}">
              <td width="750">{{ usuario }}</td>
              <td width="750">{{ usuario.get_full_name }}</td>
              <td width="23"><a title="Modificar" alt="Modificar" href="{% url sitio_asignar_roles usuario.username %}"><img src="{{MEDIA_URL}}imagenes/edit.gif"></a></td>
              <td width="20"><a title="Eliminar" onclick="javascript:mostrar_dialog_eliminar('{{ usuario.username }}');" alt="Eliminar" href="javascript:void(0);"><img src="{{MEDIA_URL}}imagenes/delete1.gif"></a></td>
            </tr>
         {% endfor %}
         </tbody>         
        </table>
        
         <div >
              <p>
                <button class="Button" onclick="javascript:window.location.href='{% url sitio_agregar_usuarios %}'" >
                  <span class="btn">
                   <span class="t">Añadir usuario</span>
                   <span class="r"><span></span></span>
                   <span class="l"></span>
                   </span>
                </button>
             </p>
         </div>
        
     </div>

<div id="dialog_eliminar_usuario" title="Eliminar">
  <input type="hidden" id="id_usuario_eliminar" value="" />
  <p style="text-align:center;">¿Está seguro que desea eliminar el usuario del sistema? </p> 
</div>

{% endblock %}   